/* 
  The toggle has various components: 
  - The guiding text next to it either left or right of the toggle with flexbox. 
  - The checkbox element itself is made invisible, only use the form functionality.
  - The label element is what is visible to the user.
  - The toggle is able to scale with the font-size of the guiding text.
  - You may have to adjust the line-height to get the desired alignment
*/
.snow-toggle {
  display: none;

  &--show {
    display: flex;
    justify-content: center;
  }

  &__text {
    // this is the text that accompanies the checkbox
    margin-left: var(--mg-xs);
    line-height: 1.25;
    order: 2;

    @include pc_xl {
      margin-left: var(--mg-sm);
    }
  }

  &__checkbox {
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked + label {
      background: var(--bgClr-accent);
    }

    &:checked + label::after {
      left: calc(100% - 0.125em); // 100& - 2px
      transform: translateX(-100%);
    }
  }

  &__label {
    // this is the box you see
    position: relative;

    display: block;

    text-indent: -9999px;
    cursor: pointer;

    width: 2.5em; // 40px
    height: 1.25em; // 20px

    background: var(--bgClr-gold);
    border-radius: 1.25em; // 20px, equal to height

    &:active::after {
      width: 1.375em; // 22px
    }

    // switch inside
    &::after {
      content: "";
      position: absolute;
      top: 0.125em; // 2px
      left: 0.125em; // 2px
      width: 1em; // 16px
      height: 1em; // 16px
      background: var(--accent-azureblue);
      border-radius: 1em; // 16px
      transition: 0.3s;
    }
  }

  &--header &__checkbox:checked + label {
    background: var(--bgClr);
  }
}
