.about-section {
  background-color: var(--bgClr-white);
  position: relative;
  padding: var(--pd-2xl) var(--pd-sm);

  .highlight-section {
    position: relative;
    margin-top: -67.5vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 99%;

    .about-row1 {
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      background-color: #fff;

      padding: var(--pd-md) var(--pd-base);

      .card {
        display: flex;
        flex-direction: column;
        padding: var(--pd-base) 0;
        text-align: center;

        & > p {
          padding: 0;
          font-size: 18px;
        }

        img {
          width: 80px;
          align-self: center;
          padding-bottom: 1em;
        }
      }
    }
  }

  .about-row2 {
    text-align: center;
    padding: var(--pd-2xl) 0 0;

    p {
      font-size: 20px;
      margin: 0 auto;

      &:first-of-type {
        margin-bottom: var(--pd-lg);
      }
    }

    a {
      color: var(--txtClr-accent);
    }

    .profile-img-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .img-container {
        margin-bottom: var(--pd-md);
        border-radius: 50%;

        width: 45%;
        height: width;
        overflow: hidden;
        box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.35);
        img {
          width: 117%;
        }
      }
    }
  }
}
