a.backlink {
    margin: 2em;
    background-color: #2496ed;
    border: 2px solid #2496ed;
    color: #fff;
    padding: 16px 32px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
    margin: auto 0;
    transition: all .5s ease 0ms;

    &:hover {
        background-color: #e9ebee;
        border: 2px solid #e9ebee;
        color: #2496ed;
    }
}