.cta {
  text-align: center;
  padding: var(--pd-2xl) var(--pd-sm);

  &--base {
    color: var(--txtClr-base);
  }

  &--accent {
    color: var(--txtClr-lightblue);
  }

  .cta__text {
    h3 {
      font-size: var(--fs-lg);
      margin-bottom: var(--mg-base);
    }

    p {
      font-size: var(--fs-md);
      margin-bottom: var(--mg-lg);
    }
  }
}
