.err {
  &-page-container {
    position: relative;
  }

  &__background-image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  &__txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;

    background-color: rgba(255, 63, 115, 0.8);
    padding: var(--pd-md);
    border-radius: 5px;

    p {
      font-size: var(--fs-2xl);
      color: var(--bgClr-white);
      text-shadow: 0 1px 0 rgb(0, 0, 0);
    }

    p:last-of-type {
      margin-bottom: var(--mg-base);
    }
  }
}
