footer {
  position: relative; //see modal class on mobile
  background-color: #0e161b;
  padding: var(--pd-2xl) var(--pd-base) 0;
  border-top: 6px #00b4ff solid;

  color: var(--accent-azureblue);
  line-height: 1.9em;

  @include pc_lg {
    font-size: var(--fs-xl);
  }
  @include pc_xl {
    font-size: var(--fs-2xl);
  }

  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .footer__logo {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: var(--mg-sm);

      img {
        width: 175px;

        @include pc_lg {
          width: 325px;
        }
      }
    }

    .footer__nav {
      margin-bottom: var(--mg-lg);

      ul {
        padding-left: 0;

        li {
          padding: var(--pd-sm) 0;
          text-align: center;

          a {
            text-transform: capitalize;
            color: var(--bgClr-white);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .footer__socials {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;

      margin-bottom: var(--mg-lg);

      a {
        padding: 1.5em 1em;

        &:hover {
          transform: scale(1.015);
        }

        img {
          width: 50px;

          @include pc_lg {
            width: 100px;
          }
        }
      }
    }

    .pgp {
      &__txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: var(--pd-lg);

        p {
          margin-bottom: var(--pd-xs);
        }

        &__btns {
          a {
            &:first-of-type {
              margin-right: var(--pd-base);
              transition: all 2s ease-in;

              &::before {
                display: none;
                content: "Copied!";
                text-align: center;
                position: relative;
                top: -3px;
                left: -9px;
              }
              &.js-copied {
                &:first-of-type {
                  &::before {
                    display: inline-block;
                  }
                }
              }
            }

            img {
              display: inline-block;
              height: 18px;
              width: 18px;

              @include pc_lg {
                height: 36px;
                width: 36px;
              }
            }
          }
        }
      }

      &__info {
        .modal__content-container {
          font-size: var(--fs-base);
          overflow-y: auto;

          @include tablet_sm {
            font-size: var(--fs-md);
            padding: var(--pd-md) var(--pd-base);
          }
          @include pc_lg {
            font-size: var(--fs-xl);
          }
          @include pc_xl {
            font-size: var(--fs-2xl);
          }
          h3 {
            margin-bottom: var(--mg-sm);
            text-align: center;
          }

          .txt-container {
            margin: 0 auto var(--mg-base);
            max-width: 600px;
            @include pc_lg {
              max-width: 800px;
            }

            p {
              margin-bottom: var(--mg-xs);

              &:last-of-type {
                margin-bottom: 0;
              }
            }

            a {
              color: var(--txtClr-lightblue);
              margin-right: 0;
            }
          }
          .link-container {
            text-align: center;
            display: flex;
            flex-direction: column;
            max-width: 500px;
            margin: 0 auto;
            @include pc_lg {
              max-width: 700px;
            }

            a.btn {
              color: var(--txtClr-accent);
              background-color: var(--bgClr-lightblue);
              font-size: var(--fs-sm);
              @include tablet_sm {
                font-size: var(--fs-md);
              }
              @include pc_lg {
                font-size: var(--fs-xl);
              }
              @include pc_xl {
                font-size: var(--fs-2xl);
              }

              &:first-of-type {
                margin-bottom: var(--mg-base);
              }
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .footer__copyright {
    text-align: center;
    font-size: var(--fs-sm);

    @include pc_lg {
      font-size: var(--fs-md);
    }
    @include pc_xl {
      font-size: var(--fs-xl);
    }

    hr {
      margin-bottom: 4em;
    }

    p {
      padding-bottom: 4em;
    }
  }
}
