footer {
    background-color: #002a64;
    color: #fff;
    padding: 4em 4em 0 4em;
    font-size: 16px;
    line-height: 1.9em;

    .footer__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 2em 4em 2em;

        @include atMobile {
            flex-direction: column;
        }

        .footer__logo {
            display: flex;
            align-items: flex-start;

            @include atMobile {
                justify-content: center;
                margin-bottom: 4em;
            }
      
            a {
                margin-bottom: 1em;
        
                img {
                    width: 175px;
                }
            }
        }

        .footer__nav {
            margin: 0 auto;

            li {
                padding: .75em 0;
                                
                @include atMobile {
                    text-align: center;
                }

                a {
                    color: #7eb0fb;
                    text-transform: capitalize;

                    &:hover {
                        text-decoration: underline;
                    }

                }           
            }
        }

        .footer__socials {
            display: flex;
            flex-direction: column;

            @include atMobile {
                margin-bottom: 4em;
            }

            .row1, .row2 {
                display: flex;
            }


            a {
                padding: 1.5em 1em;

                img {
                    width: 50px;
                }

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }


    .footer__copyright {
        text-align: center;
        font-size: 12px;
        
        hr {
            margin-bottom: 4em;
        }

        p {
            padding-bottom: 4em;
        }
        
    }
}
