.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  z-index: 2;

  &__content-container {
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: var(--pd-xs);
    margin: 0 auto;

    @include tablet_md {
      padding: var(--pd-xs) var(--pd-base);
    }

    @include pc_xl {
      padding: 2% 3%;
    }
  }

  &__logo {
    width: 60px;

    @include pc_sm {
      width: 80px;
    }

    @include pc_lg {
      // % of header__left container
      width: 25%;
    }

    @include pc_xl {
      width: 33%;
    }

    @include pc_2xl {
      width: 66%;
    }
  }

  &__right {
    display: flex;
    align-items: flex-start;
  }
}
