.hero-container {
    display: block;
    position: relative;
    height: 100vh;

    .background-image {
        height: 120vh;
/*         width: 100vw;
 */        background-size: cover;
    }

    .hero-text {
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        
        h1 {
            color: #fff;
            font-size: 54px;
            font-size: 72px;

            padding-bottom: 10px;
            margin-bottom: 2.75%;
        }

        h2 {
            color: #c4f0ff;
            font-size: 28px;
            font-size: 24px;
            max-width: 75%;
            text-align: center;
            margin: auto;

            padding-bottom: 10px;
            margin-bottom: 4.75%;

        }
    }
}