.hero-container {
    display: block;
    position: relative;
    height: 100vh;

    .background-image {
        height: 120vh;
/*         width: 100vw;
 */        background-size: cover;
    }

    .hero-text {
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        
        h1 {
            color: #fff;
            font-size: 54px;
            font-size: 72px;

            padding-bottom: 10px;
            margin-bottom: 2.75%;
        }

        h2 {
            color: #c4f0ff;
            font-size: 28px;
            font-size: 24px;
            max-width: 75%;
            text-align: center;
            margin: auto;

            padding-bottom: 10px;
            margin-bottom: 2.75%;

        }

        a {
            background-color: #003f8c;
            color: #fff;
            padding: 16px 32px;
            border-radius: 5px;
            text-transform: capitalize;
            border: 2px solid #003f8c;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.4em;
            margin: auto 0;
            transition: all .5s ease 0ms;

            &:hover {
                background-color: #e9ebee;
                color: #2496ed;
                border: 2px solid #e9ebee;
            }
        }

    }
}