.modal {
  //full screen modal assumes a parent with position: relative
  display: none;

  &--active {
    display: block;
  }
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 95vh;
  width: 95vw;

  z-index: 3;
  background-color: #031f30;

  .modal__content-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(249, 227, 174, 30%);
    color: #f9e3ae;

    padding: var(--pd-base) var(--pd-sm);

    border-radius: 5px;

    .modal-close {
      position: absolute;
      top: 0;
      right: 0;
      width: 33px;
      max-width: 10%;
      padding: var(--pd-xs);
      cursor: pointer;
      z-index: 100;

      @include pc_sm {
        width: 66px;
        max-width: unset;
      }
    }
  }
}
