.testimonials {
    background-color: #003f8c;
    color: #fff;
    padding: 2em;

    h3, h4 {
        text-align: center;
        padding: 10px;
    }

    h3 {
        font-size: 44px;
    }

    h4 {
        font-size: 28px;
    }
}