.about {
  position: relative;
  width: 95%;

  font-size: var(--fs-md);

  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);

  background-color: var(--bgClr-lightgray);

  padding: var(--pd-lg) var(--pd-sm);
  margin: var(--mg-base) auto var(--mg-2xl);

  @include mobile_lg {
    padding: var(--pd-lg) var(--pd-base);
  }

  @include tablet_md {
    padding: var(--pd-lg) var(--pd-lg);
  }

  &__btn-home {
    font-size: var(--fs-xs);

    @include pc_lg {
      font-size: var(--fs-base);
    }
    @include pc_2xl {
      font-size: var(--fs-lg);
    }
  }

  &__nav-container {
    position: absolute;
    top: 1em;
    left: 1em;

    font-size: var(--fs-xs);
  }

  &__content-container {
    @include tablet_md {
      max-width: 50em;
      margin: var(--mg-base) auto;
    }

    @include pc_lg {
      font-size: var(--fs-xl);
    }

    @include pc_xl {
      font-size: var(--fs-2xl);
    }
  }

  &__heading {
    &__title {
      font-size: var(--fs-2xl);
      text-align: center;
      margin-bottom: var(--mg-base);

      @include tablet_md {
        margin-bottom: var(--mg-base);
      }
      @include pc_lg {
        font-size: var(--fs-3xl);
      }
    }

    &__subtitle {
      display: flex;
      flex-direction: column;

      text-align: center;

      margin-bottom: var(--mg-base);

      @include tablet_md {
        flex-direction: row;
        justify-content: flex-start;
      }

      p {
        @include tablet_md {
          align-self: center;
        }
        span {
          font-weight: bold;
        }
      }
    }

    &__image {
      width: 5.5em;
      margin: 0 auto var(--mg-base);

      @include tablet_md {
        margin: 0 var(--mg-base) 0 0;
      }
    }
  }

  &__txt-container {
    overflow: hidden;

    p {
      margin-bottom: var(--mg-xs);
    }
    .highlight-first-char::first-letter {
      @include highlight-first-char;
    }
    @include pc_md {
      .highlight-first-char::first-letter {
        @include highlight-first-char-md;
      }
    }
    @include pc_lg {
      .highlight-first-char::first-letter {
        @include highlight-first-char-lg;
      }
    }
    @include pc_xl {
      .highlight-first-char::first-letter {
        @include highlight-first-char-xl;
      }
    }
  }

  &__expandable-section {
    display: none;
    animation: slide-up 500ms forwards, fade-out 1000ms forwards;

    &--active {
      display: block;
      animation: slide-up 500ms forwards, fade-in 1000ms forwards;
    }
  }

  &__btn-expand:hover {
    cursor: pointer;
  }
}
