.cta {
  width: 95%;
  text-align: center;

  padding: var(--pd-2xl) var(--pd-sm);
  margin: 0 auto;

  @include pc_lg {
    font-size: var(--fs-xl);
  }

  &__content-container {
    margin: 0 auto;

    @include tablet_md {
      max-width: 55ch;
    }

    @include pc_lg {
      max-width: 78ch;
    }
  }

  &__heading {
    margin-bottom: var(--mg-sm);

    &__title {
      font-size: var(--fs-xl);
      color: var(--txtClr-white);

      @include pc_lg {
        font-size: var(--fs-3xl);
      }
    }
  }

  &__text {
    font-size: var(--fs-md);
    color: var(--txtClr-lightblue);

    margin-bottom: var(--mg-lg);

    @include pc_lg {
      font-size: var(--fs-xl);
    }
  }

  &__link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__link {
    width: 15em;

    &:first-of-type {
      margin-bottom: var(--mg-base);
    }

    @include pc_lg {
      font-size: var(--fs-xl);
    }
  }
}
