/* 
  - Stacking context: 
    -- The header section and its menu's should always appear above this hero section and has values ranging form 1 to 3.
    -- The _content-container here has value 0.
    -- The bg-overlay has value -1.
    -- The background-image has value -2.
*/
.hero {
  position: relative;
  top: 0;
  width: 100%;
  height: 100vh;
  margin-top: calc((-1) * var(--height-header));

  @media screen and (orientation: landscape) {
    min-height: 450px;
  }

  &__content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1; // see stacking context note __global.scss

    width: 100%;

    padding: 0 var(--pd-sm);

    @include mobile_md {
      padding: 0 var(--pd-base);
    }
    @include tablet_sm {
      padding: 0 var(--pd-lg);
    }
    @include tablet_md {
      padding: 0 var(--pd-2xl);
    }
    @include pc_lg {
      padding: 0 var(--pd-4xl);
    }
    @include pc_xl {
      padding: 0 var(--pd-8xl);
    }
    @include pc_2xl {
      /* There is ample space, so the header padding is increased. This creates the need to push the hero content further down */
      margin-top: var(--mg-4xl);
    }
  }

  &__text-container {
    width: 100%;
    text-align: center;

    margin: 0 auto var(--mg-lg); // distance with link container

    @include pc_xl {
      margin: 0 auto var(--mg-2xl);
    }
    @include pc_2xl {
      margin: 0 auto var(--mg-4xl);
    }
  }

  &__typewriter {
    font-size: var(--fs-xl);
    color: var(--txtClr-lightblue);

    margin-bottom: var(--mg-xs);

    @include mobile_md {
      font-size: var(--fs-2xl);
    }
    @include mobile_lg {
      font-size: var(--fs-3xl);
    }
    @include pc_lg {
      font-size: var(--fs-4xl);
    }
    @include pc_xl {
      font-size: var(--fs-6xl);
    }
    @include pc_2xl {
      font-size: var(--fs-10xl);
    }
  }

  &__title {
    color: var(--txtClr-white);
    font-size: var(--fs-md);

    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 0 0 var(--mg-xs);

    @include mobile_md {
      font-size: var(--fs-lg);
    }
    @include mobile_lg {
      font-size: var(--fs-xl);
    }
    @include pc_sm {
      font-size: var(--fs-2xl);
    }
    @include pc_lg {
      font-size: var(--fs-3xl);
    }
    @include pc_xl {
      font-size: var(--fs-4xl);
    }
    @include pc_2xl {
      font-size: var(--fs-8xl);
    }
  }

  &__subtitle {
    color: var(--txtClr-white);

    font-size: var(--fs-base);
    font-weight: 300;
    line-height: 1.5;

    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);

    padding: 0 var(--pd-base); // limits the width
    margin: 0 auto;

    @include mobile_md {
      font-size: var(--fs-base-plus);
    }
    @include mobile_lg {
      font-size: var(--fs-md);
    }
    @include pc_sm {
      font-size: var(--fs-lg);
      max-width: 55ch;
    }
    @include pc_lg {
      font-size: var(--fs-2xl);
    }
    @include pc_xl {
      font-size: var(--fs-3xl);
    }
    @include pc_2xl {
      font-size: var(--fs-6xl);
      padding: 0 var(--pd-xl);
    }
  }

  &__link-container {
    display: none;

    @include pc_sm {
      display: flex;
    }

    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include pc_sm {
      flex-direction: row-reverse;
    }

    @include pc_lg {
      /* pushes the scroll down indicator further down */
      margin-bottom: var(--mg-lg);
    }

    @include pc_2xl {
      margin-bottom: var(--mg-2xl);
    }
  }

  &__link {
    width: 18em;

    &:first-of-type {
      margin-bottom: var(--mg-sm);

      @include pc_sm {
        margin-left: var(--mg-sm);
        margin-bottom: unset;
      }
    }
  }

  &__bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //height: 100vh;
    width: 100%;
    min-height: 100vh;

    @media screen and (orientation: landscape) {
      min-height: 450px;
    }
  }

  /* 
    image and overlay are stretched out to cover for the extended height of the hero section 
  */
  &__bg__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(11, 33, 74, 0.95);
    z-index: -1; // see stacking context note __global.scss
  }

  &__bg__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2; // see stacking context note __global.scss

    /*     background-image: url("../images/logo/liondigits_logo_v1_gold_transparent-bg-1600x1600.svg"); */
    background-size: cover;
  }
}
