.intro {
  position: relative;

  font-size: var(--fs-base-plus);
  background-color: var(--bgClr-lightgray);

  padding: var(--pd-2xl) var(--pd-xs) 0;

  @include mobile_md {
    padding: var(--pd-2xl) var(--pd-sm) 0;
  }

  @include tablet_md {
    /* 
      Padding-top gets removed because from tablet onwards the flow of this section changes, see &__main below 
    */
    padding: 0 var(--pd-sm) 0;
  }

  @include pc_lg {
    font-size: var(--fs-xl);
  }
  @include pc_xl {
    font-size: var(--fs-2xl);
  }
  @include pc_2xl {
    font-size: var(--fs-4xl);
  }

  &__highlight {
    /* 
        The positioning is tricky on mobile devices with limited screen height. But the negative top margins is a good enough result.
        From tablet_md onwards, the positioning is straightforward.
    */
    position: relative;
    margin-top: -67.5vh;

    z-index: 2; // see stacking context note __global.scss

    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);

    @include tablet_md {
      position: absolute;
      margin-top: 0;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 96%;
    }

    &__content-container {
      border-radius: 5px;
      background-color: var(--bgClr-white);

      padding: var(--pd-md) var(--pd-xs);

      @include mobile_md {
        padding: var(--pd-base) var(--pd-sm);
      }

      @include tablet_sm {
        padding: var(--pd-lg) var(--pd-md);
      }

      @include tablet_md {
        padding: var(--pd-lg) var(--pd-md);
      }

      @include pc_sm {
        padding: var(--pd-lg) var(--pd-md);
      }
    }

    &__title {
      font-size: var(--fs-lg);
      text-transform: capitalize;
      text-align: center;

      margin-bottom: var(--mg-md);

      @include pc_sm {
        margin-bottom: var(--mg-lg);
      }
      @include pc_lg {
        font-size: var(--fs-2xl);
      }
      @include pc_xl {
        font-size: var(--fs-3xl);
      }
      @include pc_2xl {
        font-size: var(--fs-6xl);
      }
    }

    &__item-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @include pc_sm {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;

      padding: 0;

      margin: 0 0 var(--mg-lg);

      @include tablet_md {
        max-width: 55ch;
        margin: 0 auto var(--mg-lg);
      }

      @include pc_sm {
        max-width: 45ch;
        margin: 0 var(--mg-base) 0 0;

        &:last-of-type {
          margin: 0;
        }
      }

      &__icon {
        width: 5.5em;
        align-self: center;
        margin-bottom: var(--mg-base);
      }

      &__text {
        padding: 0;
      }
    }
  }

  &__main {
    max-width: 55ch;

    padding: var(--pd-xl) var(--pd-xs);
    margin: 0 auto;

    /* 
      From tablet screens onwards the highlights section above is position: absolute; thus lifted out of the flow. 
      See layout.js.
    */
    @include tablet_md {
      padding: calc(var(--height-highlights) / 2 + var(--pd-lg)) var(--pd-xs)
        var(--pd-xl);
    }

    &__text {
      &:first-of-type {
        margin-bottom: var(--pd-lg);
      }
    }

    &__image-container {
      width: 50%;
      margin: 0 auto var(--pd-lg);

      @include tablet_sm {
        width: 33%;
      }
    }
  }
}
