/* 
  This page section has two major components: highlights and main. Until tablet_md the layout is self-evident. 
  From then onwards, the illusion is created as if the highlight section is lifted out of the page flow and floats between the hero section and the intro__main section.

  In order to achieve this without affecting the layout and positioning of the previous hero section, the highlight section is wrapped in a position container that has half the height of the highlight section container and uses the same background-color as the hero section. This will create the desired floating effect. 
  
  The height of the highlight section is stored in a variable, also see layout.js.

  The intro__main section then gets a padding-top set to the same value.
*/

.intro {
  // undo default values by section class
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;

  @include tablet_md {
    padding: 0; // undo default by section class
  }

  &__highlight {
    position: relative;
    z-index: 2; // see stacking context note __global.scss

    margin: 0 auto var(--mg-lg);

    @include tablet_md {
      width: 100%;
      margin: 0 auto 0;
    }

    &__position-container {
      @include tablet_md {
        display: block;

        width: 100%;
        height: calc(var(--height-highlights) / 2);

        background-color: var(--bgClr);
      }
    }

    &__content-container {
      border-radius: 5px 5px;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
      background-color: var(--bgClr-white);

      padding: var(--pd-md) var(--pd-xs);
      margin: 0 auto;

      @include mobile_md {
        padding: var(--pd-base) var(--pd-sm);
      }
      @include tablet_sm {
        padding: var(--pd-lg) var(--pd-md);
      }
      @include tablet_md {
        padding: var(--pd-lg) var(--pd-md);
        width: 95%;
      }
    }

    &__title {
      font-size: var(--fs-lg);
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;

      margin-bottom: var(--mg-md);

      @include pc_sm {
        margin-bottom: var(--mg-lg);
      }
      @include pc_lg {
        font-size: var(--fs-2xl);
      }
      @include pc_xl {
        font-size: var(--fs-3xl);
      }
      @include pc_2xl {
        font-size: var(--fs-6xl);
      }
    }

    &__item-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @include pc_sm {
        flex-direction: row;
        justify-content: space-evenly;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;

      padding: 0;

      margin: 0 0 var(--mg-lg);

      &:last-of-type {
        margin: 0;
      }

      @include tablet_md {
        max-width: 55ch;
        margin: 0 auto var(--mg-lg);

        &:last-of-type {
          margin: 0;
        }
      }

      @include pc_sm {
        max-width: 45ch;
        margin: 0 var(--mg-base) 0 0;

        &:last-of-type {
          margin: 0;
        }
      }

      &__icon {
        width: 5.5em;
        align-self: center;
        margin-bottom: var(--mg-base);
      }

      &__text {
        padding: 0;
      }
    }
  }

  &__main {
    max-width: 55ch;
    margin: 0 auto;
    /* 
      From tablet screens onwards the changes in the highlights section above create the need for extra padding-top
    */
    @include tablet_md {
      padding-top: calc(var(--height-highlights) / 2 + var(--pd-lg));
      padding-left: var(--pd-xs);
      padding-bottom: var(--pd-xl);
    }

    &__text {
      &:first-of-type {
        margin-bottom: var(--pd-lg);
      }
    }

    &__image-container {
      width: 50%;
      margin: 0 auto var(--pd-lg);

      @include tablet_sm {
        width: 33%;
      }
    }
  }
}
