.services {
  width: 95%;

  font-size: var(--fs-md);
  text-align: center;

  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);

  background-color: var(--bgClr-lightblue);
  color: var(--bgClr-accent);

  padding: var(--pd-lg) var(--pd-sm);
  margin: 0 auto var(--mg-2xl);

  @include pc_lg {
    font-size: var(--fs-xl);
  }

  @include pc_xl {
    font-size: var(--fs-2xl);
  }

  &__heading {
    &__title {
      font-size: var(--fs-2xl);
      text-align: center;
      margin-bottom: var(--mg-sm);

      @include pc_lg {
        font-size: var(--fs-3xl);
      }
    }
    &__image-container {
      margin: 0 auto var(--mg-lg);
      width: 45%;
      max-width: 10em;
    }
  }

  &__list-container {
    max-width: 66ch;
    text-align: center;

    margin: 0 auto var(--mg-lg);

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: var(--mg-base);

      li {
        margin-bottom: var(--mg-base);

        p:first-of-type {
          font-weight: 600;
          font-size: var(--fs-lg);

          @include pc_lg {
            font-size: var(--fs-xl);
          }

          @include pc_xl {
            font-size: var(--fs-2xl);
          }
        }
      }
    }
  }
  &__addendum {
    margin: 0 auto;
    max-width: 78ch;
  }
}
