.skill {
  &-section-container {
    color: var(--txtClr-white);
    background-color: #003f8c;
    padding: var(--pd-xl) var(--pd-sm);
    font-size: var(--fs-md);

    @include tablet_sm {
      padding: var(--pd-2xl) var(--pd-base);
    }
  }

  &__heading {
    position: relative;

    @include tablet_md {
      max-width: 50em;
      margin: 0 auto var(--mg-lg);
    }
    @include pc_lg {
      font-size: var(--fs-xl);
    }

    &__title {
      font-size: var(--fs-2xl);
      text-align: center;

      @include pc_lg {
        font-size: var(--fs-3xl);
      }
    }

    &__sub {
      text-align: center;
      font-size: var(--fs-xl);

      margin-bottom: var(--mg-base);

      @include pc_lg {
        font-size: var(--fs-2xl);
      }
    }

    &__intro {
      text-align: center;
      font-style: italic;
      font-weight: 300;

      margin-bottom: var(--mg-base);
    }

    &__nav {
      position: relative;
      top: 0;

      width: 100%;

      border-radius: 5px;

      padding: var(--pd-base) var(--pd-xs);
      margin-bottom: var(--mg-2xl);

      transition: all ease-in 800ms;

      ul {
        padding: 0;
        text-align: center;

        li {
          display: inline-block;
          margin-bottom: var(--mg-xs);
          a {
            font-size: var(--fs-base);
            letter-spacing: 0.08em;
            text-transform: uppercase;

            color: var(--txtClr-white);
            background-color: var(--bgClr-gold);

            border-radius: 5px;
            box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);

            padding: var(--pd-sm) var(--pd-base);
            margin-right: var(--mg-xs);

            transform: scale(1);
            transition: all ease-in-out 250ms;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              transform: scale(1.025);
              color: var(--txtClr-lightblue);
            }
          }
        }
      }
      &__onScroll {
        position: fixed;
        top: unset;
        bottom: 0;
        left: 0;

        z-index: 5;
        transform: scale(1);
        transition: transform ease-in 800ms;

        border-radius: 5px 5px 0 0;
        background-color: rgb(11, 33, 74, 0.95);

        padding: var(--pd-sm) var(--pd-xs);
        margin-bottom: 0;

        ul {
          li {
            a {
              font-size: var(--fs-sm);
            }

            a.active {
              color: var(--txtClr-gold);
              background-color: var(--bgClr--accent);
            }
          }
        }
      }
    }
  }

  &__section {
    margin-bottom: var(--mg-2xl);

    @include tablet_md {
      max-width: 50em;
      margin: 0 auto var(--mg-2xl);
    }
    @include pc_lg {
      font-size: var(--fs-xl);
    }

    &__heading {
      text-align: center;
      margin-bottom: var(--mg-lg);

      h3 {
        font-style: italic;
        font-weight: 300;
      }

      &__icon-container {
        margin-top: var(--mg-sm);
      }
    }
    &__article {
      &__topic {
        margin-bottom: var(--mg-base);
        h4 {
          margin-bottom: var(--mg-xs);
        }

        p {
          margin-bottom: var(--mg-xs);
        }
      }
    }

    &__card {
      margin-bottom: var(--mg-lg);
    }
  }
}
