.about {
  &-section-container {
    background-color: var(--bgClr-white);
    width: 95%;
    border-radius: 5px;

    padding: var(--pd-base) var(--pd-sm);
    margin: 0 auto var(--mg-2xl);

    @include mobile_lg {
      padding: var(--pd-base) var(--pd-base);
    }
    @include tablet_md {
      padding: var(--pd-md) var(--pd-md);
    }

    h2 {
      margin-bottom: var(--mg-sm);
      text-align: center;
    }
  }

  &__img-container {
    margin: 0 auto var(--mg-base);
    width: 5.5em;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);

    img {
      width: 116%;
    }
  }

  &__txt {
    margin-bottom: var(--mg-sm);

    &__name {
      font-weight: bold;
    }
    p {
      margin-bottom: var(--mg-xs);
    }
    p:first-of-type {
      text-align: center;
      margin-bottom: var(--mg-sm);
    }
    p:nth-of-type(3) {
      margin-bottom: var(--mg-sm);
    }
    span {
      white-space: nowrap;
    }
    .txt-link {
      color: var(--txtClr-accent);
      text-decoration: underline;
    }
  }

  &__insert {
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);
      border-radius: 5px;
      font-size: var(--fs-sm);

      padding: var(--pd-sm) var(--pd-sm);
      margin-bottom: var(--mg-base);

      @include mobile_lg {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        padding: var(--pd-sm) var(--pd-sm);
      }

      img {
        width: 8.1em;
        border-radius: 5px;
      }
    }

    &-desc-container {
      padding: var(--pd-sm) var(--pd-xs);
      text-align: center;

      @include mobile_lg {
        padding: 0 var(--pd-sm);
        text-align: left;
        p:first-of-type {
          margin-bottom: var(--mg-xs);
          text-align: left;
        }
      }
    }

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: var(--fs-xs);

      @include mobile_lg {
        text-align: left;
        flex-direction: row;
        align-items: flex-start;
      }

      span {
        white-space: unset;

        @include mobile_lg {
          align-self: center;
        }
      }

      img {
        width: 2.4em;
        margin: 0 0 var(--mg-sm);

        @include mobile_lg {
          margin: 0 var(--mg-sm) 0 0;
          align-self: center;
        }
      }
    }
  }

  &__trivia {
    h2 {
      margin-bottom: 0;
    }

    &__txt-desktop {
      display: none;

      &.has_keyboard {
        display: block;
      }
    }
    &__txt-mobile {
      display: none;

      &.has_touch {
        display: block;
      }
    }
  }
}

.skill-section {
  display: none;
  overflow: hidden;
  /* Hides the overflow of the carousel-container below */
  color: var(--bgClr-white);
  text-align: center;
  padding: 10em 2em;
  background-color: #003f8c;

  .heading {
    padding-bottom: var(--pd-base);

    h4 {
      font-size: 36px;
      margin-bottom: 0.5em;
    }

    .heading-icons {
      display: flex;
      justify-content: center;

      img {
        max-width: 40px;
        margin: 1em;
      }
    }
  }

  p.heading-sub {
    max-width: 55%;
    margin: 1em auto;
    text-align: center;
    font-size: var(--fs-md);

    &:last-of-type {
      margin-bottom: 4em;
    }
  }

  a {
    color: var(--accent-lightblue);
  }

  .carousel-container {
    margin-top: 4em;
    padding: 2em;
    background-color: #e9ebee;
    border-radius: 5px;
    box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .carousel-card {
      width: 325px;
      padding: 2em;
      border-radius: 5px;
      box-shadow: 5px 5px 25px 0 rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h5 {
        color: #003f8c;
        font-size: var(--fs-lg);
        text-align: center;
        margin-bottom: 1em;
      }

      p {
        font-size: var(--fs-md);
        line-height: 1.5;
        max-width: 250px;
        color: var(--txtClr-base);
        margin-bottom: 2em;
        align-self: center;
      }

      a.btn {
        background-color: var(--bgClr-white);
        border: 2px solid var(--txtClr-base);
        color: var(--txtClr-base);
        width: calc(100% - 3em);

        margin: 0 auto;
        font-size: var(--fs-base);

        &:hover {
          transform: scale(1.025);
        }
      }

      a img {
        width: 100%;
        margin-bottom: 3em;
      }
    }
  }

  .cta {
    max-width: 50%;
    padding: 2em;
    margin: 10em auto 0 auto;
    text-align: center;

    h4 {
      font-size: var(--fs-lg);
    }

    p {
      font-size: var(--fs-md);
      margin: 1em auto 4em auto;
    }

    a {
      background-color: var(--accent-azureblue);
      border-color: 2px solid var(--accent-azureblue);
      color: var(--bgClr-white);

      &:hover {
        background-color: var(--bgClr-white);
        border-color: var(--bgClr-white);
        color: var(--accent-azureblue);
      }
    }
  }
}
