/* ANCHOR & BUTTON BASE STYLES - START */
a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;

  &:hover {
    cursor: pointer;
  }
}

a.btn {
  padding: var(--pd-sm) var(--pd-base);

  font-weight: 600;
  text-transform: capitalize;
  white-space: nowrap;

  border-radius: 5px;
  border: 2px solid var(--accent-darkblue);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);

  color: var(--txtClr-white);
  background-color: var(--bgClr-accent);

  &:hover {
    background-color: var(--bgClr-white);
    border-color: var(--bgClr-white);
    color: var(--accent-azureblue);
  }
}

a.btn-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: var(--fs-base);
  white-space: normal;

  background-color: unset;
  color: var(--txtClr-base);
  border: 2px solid var(--txtClr-base);
  border-radius: 5px;

  padding: var(--pd-sm);

  img {
    width: 20px;
    height: 20px;

    @include pc_lg {
      width: 40px;
      height: 40px;
    }
  }

  &:hover {
    transform: scale(1.025);
    color: var(--txtClr-base);
    border: 2px solid var(--txtClr-base);
  }
}
/* BUTTON BASE STYLES - END */
