.consent {
  display: none;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 5;

  background-color: var(--bgClr-dark);

  &--active {
    display: flex;
  }

  &--closing {
    animation: fade-out 500ms forwards;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--pd-sm);

    margin: 0 auto;

    @include tablet_md {
      flex-direction: row;
    }

    p {
      text-align: center;
      color: var(--txtClr-white);
      margin: 0 var(--mg-sm) var(--mg-sm) 0;

      @include tablet_md {
        margin-bottom: 0;
      }

      @include pc_lg {
        font-size: var(--fs-md);
      }
    }

    .btn {
      width: 66%;
      font-size: var(--fs-sm);
      margin-bottom: var(--mg-sm);

      @include mobile_lg {
        width: 45%;
      }

      @include tablet_md {
        width: unset;
        margin-bottom: unset;

        &:first-of-type {
          order: 2;
          margin-left: var(--mg-sm);
        }
      }

      @include pc_lg {
        font-size: var(--fs-md);
      }
    }
  }
}
