.hs-list {
  overflow-x: auto;
  width: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: var(--bgClr-lightgray);
  padding: var(--pd-sm);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);

  li:last-of-type {
    margin-right: var(--mg-md);
  }

  // Scrollbar styling firefox
  scrollbar-color: var(--accent-azureblue) var(--bgClr-white);
  scrollbar-width: none;

  @include pc_sm {
    scrollbar-width: auto;
  }

  // Scrollbar styling webkit based browsers
  &::-webkit-scrollbar {
    background-color: var(--bgClr-accent);
    height: 0.66em;
    display: none;
    @include pc_sm {
      display: block;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: var(--bgClr-white);
    border-radius: 0 0 5px 5px;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--accent-azureblue);
    border-radius: 5px;
    border: 2px solid var(--bgClr-white);
  }
}
