.scroll-box {
  overflow-x: auto;
  width: auto;

  display: flex;
  flex-direction: row;

  background-color: var(--bgClr-white);
  padding: var(--pd-sm);
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.35);

  .card-container {
    min-width: 66%;
  }
}
