.text-emphasis {
  font-style: italic;

  &--accent {
    color: var(--accent-azureblue);
    font-weight: 600;
  }

  &--underline {
    border-bottom: 6px solid var(--accent-azureblue);
    border-radius: 5px;
  }

  &--bg {
    background-color: var(--accent-azureblue);
    color: white;
    padding: 0.06em 0.12em;
    border-radius: 2px;
  }
}

.text-strong {
  color: var(--accent-azureblue);
}
